extends ./layout.jade
block contenido
	h1(class="centerhold" style="margin-bottom:50px;") PRODUCTO CREADO
	div(class="centerhold")
				ul(class="actions")
					li 
						a(href="prod" class="button big special") Agregar Productos
					li 
						a(href="/" class="button big alt") Salir