doctype html
html(lang="es")
	head
		title ACCECAR Accesorios Automotrices
		meta(http-equiv="content-type" content="text/html; charset=utf-8")
		meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		meta(name="description" content="")
		meta(name="keywords" content="")
		script(src="/js/jquery.min.js")
		script(src="/js/skel.min.js")
		script(src="/js/skel-layers.min.js")
		script(src="/js/init.js")
		noscript
		link(rel="stylesheet" href="/css/skel.css")
		link(rel="stylesheet" href="/css/style.css")
		link(rel="stylesheet" href="/css/style-xlarge.css")
			
	body
		block contenido